<a href="https://colab.research.google.com/github/jtracos/intro_python_for_data/blob/main/Carga_de_datos_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

## Estructura de datos

In [ ]:
#listas
a =[1,4,5,'a']
a

[1, 4, 5, 'a']

In [ ]:
a.append('HOLA,ELSY :)')
a

[1, 4, 5, 'a', 'HOLA,ELSY :)']

In [ ]:
len(a)

5

In [ ]:
b = [a, 'Estamos perdidas']

In [ ]:
b

[[1, 4, 5, 'a', 'HOLA,ELSY :)'], 'Estamos perdidas']

In [ ]:
len(b)

2

In [ ]:
b[0]

[1, 4, 5, 'a', 'HOLA,ELSY :)']

In [ ]:
b[1]

'Estamos perdidas'

In [ ]:
a

[1, 4, 5, 'a', 'HOLA,ELSY :)']

In [ ]:
x,y,z = 1,2,5

In [ ]:
print("Hola mundo, estoy aburrido")

Hola mundo, estoy aburrido

In [ ]:
a

[1, 4, 5, 'a', 'HOLA,ELSY :)']

In [ ]:
for idx in range(len(a)):
  print(a[idx])
print("Hemos terminado.")

1
4
5
a
HOLA,ELSY :)
Hemos terminado.

In [ ]:
vec = []
for val in range(0,6):
  vec.append(val)
print(vec)

[0, 1, 2, 3, 4, 5]

In [ ]:
vector = [val for val in range(6)]

In [ ]:
np.sin(vector)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427])

In [ ]:
#tuplas
cosa_insignificante = (a,b, vector)

In [ ]:
len(cosa_insignificante)

3

In [ ]:
tupla[2]

[0, 1, 2, 3, 4, 5]

In [ ]:
#diccionarios
dic = {
    "nombres":['Elsy','Josue'],
    "apellidos":['T','T']
}

In [ ]:
dic.keys()

dict_keys(['nombres', 'apellidos'])

In [ ]:
dic.values()

dict_values([['Elsy', 'Josue'], ['T', 'T']])

In [ ]:
dic_1 = {"iteracion":[],
         'valor':[]
         }
         
for idx,char in enumerate(['a','b','v','c']):
  dic_1['iteracion'].append(idx)
  dic_1['valor'].append(char)
print(dic_1)

{'iteracion': [0, 1, 2, 3], 'valor': ['a', 'b', 'v', 'c']}

In [ ]:
print(dic_1['iteracion'])

[0, 1, 2, 3]

In [ ]:
for line in enumerate(range(2,6)):
  print(line)

(0, 2)
(1, 3)
(2, 4)
(3, 5)

# Load data

<h4>sep es un separador o una expresión</h4>

<h> "\s" es un espacio de separación</h>

<h> "\s+" para mas de un espacio de separación</h>

<h> "," es un separador de comas</h>

In [3]:
data = pd.read_csv('data_name', sep=r'\s+',engine='python',skiprows=17)

read_csv lee el archivo de texto y lo guarda como un DataFrame, como:

In [10]:
#muestra las primeras 5 entradas
data.head()

        FECHA PRECIP  EVAP TMAX  TMIN
0  01/10/1948   27.4   2.5   27  20.3
1  02/10/1948   83.4   3.3   26  20.2
2  03/10/1948  164.8  "NA"   30  20.3
3  04/10/1948   60.8   1.6   27  21.9
4  05/10/1948    0.3   1.7   26    21

## Tu caso es:

In [ ]:
data = pd.read_csv('arribos-02.txt', sep=',',names=['CODIGO', 'P','S'])

<h>names debe contener los nombres de cada columna</h>

<h>ahora puedes visualizarlos</h>

In [ ]:
data.head()

<h>Para crear nuevos atributos(columna) basta con:</h>

In [ ]:
data['Ts-Tp'] = data['S']-data['P']

Ahora visualiza tus datos

In [ ]:
from IPython.display import display #esto es solo para que se vea bonito
display(data)